.home {
    --bd-blue: #007bff;
    --bd-green: #28a745;
    --bd-accent: #20c997;
    --bd-blue-rgb: 0,123,255;
    --bd-accent-rgb: 32,201,151;
    --bd-green-rgb: 40,167,69;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-blue-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-green-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-blue);
        --bs-btn-border-color: var(--bd-blue);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #0056b3; 
        --bs-btn-hover-border-color: #0056b3;
        --bs-btn-focus-shadow-rgb: var(--bd-blue-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #004085; 
        --bs-btn-active-border-color: #004085;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-blue-rgb: 0,123,255;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-blue-rgb), 1), rgba(var(--bd-blue-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-blue {
    color: #007bff; 
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
